@import '../../assets/css/main.scss';

.Header {
    background: $header-background;
    display: flex;
    flex-direction: column;
    margin: 0px;

    &-PageHeading {
        color: $font-text-light;
    }

    &-PageSubheading {
        font-weight: $font-medium;
        color: $font-text-light-normal;
        display: flex;
        align-items: center;

        &CurrentSeason {
            font-weight: $font-regular;
            font-size: $text-m;
            margin-left: $margin-small;
            color: $font-text-light-dark;
        }
    }
}