@import "../../assets/css/main.scss";

.Header {
  background: $header-background;
  display: flex;
  flex-direction: column;
  margin: 0px;
  overflow: hidden;
  position: relative;

  &-Container {
    display: flex;
    justify-content: space-between;
    padding-right: 3rem;

    @include mobile-view {
      flex-direction: column-reverse;
      padding: 0;
    }

    &Right {
      padding: 2rem 0;
    }
  }

  &-PageHeading {
    color: $font-text-light;
  }

  &-Logo {
    width: 100px;
    object-fit: cover;
  }

  &-PageSubheading {
    font-weight: $font-medium;
    color: $font-text-light-normal;
    display: flex;
    align-items: center;

    &CurrentSeason {
      font-weight: $font-regular;
      font-size: $text-m;
      margin-left: $margin-small;
      color: $font-text-light-dark;
    }
  }
}
