@import "../../assets/css/main.scss";

.ContentWrapper {
  display: block;
  margin: auto;
  max-width: $width-max;
  padding: 0 $padding-s;
  position: relative;
  width: 100%;

  @include mobile-view {
    margin: 0px;
  }
}
