@import "../../assets/css/main.scss";

.ContentWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: auto;
  max-width: $width-max;
  padding: 0 $padding-s;
  position: relative;

  @include mobile-view {
    margin: 0px;
  }
}
