@import "../../assets/css/main.scss";

.ContentWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: auto;
  max-width: 1200px;
  padding: 0 1rem;
  position: relative;
  width: 100%;

  @include mobile-view {
    padding: 0 1rem;
  }
}
