@import '../../assets/css/main.scss';

.PlayerSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &:nth-child(even) {
        background-color: $primary-off-white;
    };

    &-SectionHeading {
        font-size: $text-l;
        color: $font-text-dark-normal;
    }

    &-CardSectionWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
}