@import "../../assets/css/main.scss";

.TeamSelector {
  background-color: $primary-color;
  color: $font-white;
  position: sticky;
  padding-top: 10px;
  top: -3px;
  z-index: 9999;

  @include mobile-view {
    padding-top: 20px;
  }

  &-List {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

    &Item {
      margin-right: $margin-large;
      font-size: $text-s;
      letter-spacing: 0.05rem;
      font-weight: $font-light;
      cursor: pointer;
      padding: 0 0 $margin-small;
      border-bottom: 5px solid $primary-color;
      transition: 0.3s ease;

      &:hover {
        border-bottom: 5px solid #ffff;
      }

      &_isActive {
        border-bottom: 5px solid $font-white;
      }
    }
  }
}
